html, body {
  background: #011802;
  margin: 0;
  height: 100%;
}

.app-header {
  background: #FFFFFF;
  padding: 10px;
}

.iframe-bar {
  background: rgb(2,0,36);
  min-height: 45px;
  padding-left: 25px;
}

.sidemenu-bar {
  background: #022c04;
}

.profile-pic {
  padding-right: 15px;
}
